@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema MVC de Registro de Formación Académica y Profesional de Personas</h1>
    <p class="lead">Este sistema te permite gestionar y visualizar la formación académica y profesional de las personas de manera eficiente y organizada.</p>
    <hr class="my-4" />
</div>

<div class="text-left">
    <p>
        El sistema está diseñado para ofrecer funcionalidades completas de registro, actualización, y consulta de datos sobre la educación y profesiones de individuos. Puedes administrar la información de:
    </p>
    <ul>
        <li>Personas: Registra y consulta información personal como cédula, nombre y apellidos.</li>
        <li>Formación Académica: Lleva un seguimiento detallado de los estudios realizados, incluyendo la universidad y fechas de estudio.</li>
        <li>Profesiones: Gestiona las profesiones y los estudios relacionados de cada persona.</li>
        <li>Teléfonos: Registra y administra la información de contacto de las personas.</li>
    </ul>
    <p>
        Este sistema utiliza la tecnología <strong>ASP.NET Core MVC</strong>, brindando una arquitectura robusta, escalable y fácil de mantener. Además, ofrece una interfaz amigable para facilitar la gestión de información crítica de forma eficaz.
    </p>
    <p>
        Aprende más sobre <a href="https://learn.microsoft.com/aspnet/core">desarrollo de aplicaciones Web con ASP.NET Core</a>.
    </p>
</div>
